@tailwind base;
@tailwind utilities;
@tailwind variants;

html {
    @apply w-screen h-[calc(100dvh)] overflow-x-hidden text-xs sm:text-base;
}

body {
    @apply w-full h-full;
}

#app {
    @apply w-full h-full;
}

:root {
    
    /* Fuchsia */
    /* --cs-50:  253 244 255;
    --cs-100: 250 232 255;
    --cs-200: 245 208 254;
    --cs-300: 240 171 252;
    --cs-400: 232 121 249;
    --cs-500: 217 70 239;
    --cs-600: 192 38 211;
    --cs-700: 162 28 175;
    --cs-800: 134 25 143;
    --cs-900: 112 26 117;
    --cs-950: 74 4 78; */

    /* Pink */
    --cs-50:  253 242 248;
    --cs-100: 252 231 243;
    --cs-200: 251 207 232;
    --cs-300: 249 168 212;
    --cs-400: 244 114 182;
    --cs-500: 236 72 153;
    --cs-600: 219 39 119;
    --cs-700: 190 24 93;
    --cs-800: 157 23 77;
    --cs-900: 131 24 67;
    --cs-950: 80 7 36;

    --cs-surface-0: 255, 255, 255;
    --cs-surface-50: 251, 252, 252;
    --cs-surface-100: 247, 249, 248;
    --cs-surface-200: 239, 243, 242;
    --cs-surface-300: 218, 222, 221;
    --cs-surface-400: 177, 183, 182;
    --cs-surface-500: 130, 135, 135;
    --cs-surface-600: 95, 114, 116;
    --cs-surface-700: 65, 91, 97;
    --cs-surface-800: 41, 68, 78;
    --cs-surface-900: 24, 50, 64;
    --cs-surface-950: 12, 25, 32;

    --primary-50:  var(--cs-50);
    --primary-100: var(--cs-100);
    --primary-200: var(--cs-200);
    --primary-300: var(--cs-300);
    --primary-400: var(--cs-400);
    --primary-500: var(--cs-500);
    --primary-600: var(--cs-600);
    --primary-700: var(--cs-700);
    --primary-800: var(--cs-800);
    --primary-900: var(--cs-900);
    --primary-950: var(--cs-950);

    --surface-0: var(--cs-surface-0);
    --surface-50: var(--cs-surface-50);
    --surface-100: var(--cs-surface-100);
    --surface-200: var(--cs-surface-200);
    --surface-300: var(--cs-surface-300);
    --surface-400: var(--cs-surface-400);
    --surface-500: var(--cs-surface-500);
    --surface-600: var(--cs-surface-600);
    --surface-700: var(--cs-surface-700);
    --surface-800: var(--cs-surface-800);
    --surface-900: var(--cs-surface-900);
    --surface-950: var(--cs-surface-950);

    --primary: var(--primary-500);
    --primary-inverse: var(--surface-0);
    --primary-hover: var(--primary-600);
    --primary-active-color: var(--primary-600);

    --primary-highlight-opacity: 0.1;
    --primary-highlight-inverse: var(--primary-700);
    --primary-highlight-hover-opacity: 0.2;
}
.dark{
    --primary: var(--primary-400);
    --primary-inverse: var(--surface-900);
    --primary-hover: var(--primary-300);
    --primary-active-color: var(--primary-300);

    --primary-highlight-opacity: 0.2;
    --primary-highlight-inverse: var(--surface-0);
    --primary-highlight-hover-opacity: 0.3;
}

.customized-primary {
    &:not(.dark){
        --primary: var(--primary-950);
        --primary-inverse: var(--surface-0);
        --primary-hover: var(--primary-800);
        --primary-active-color: var(--primary-900);

        --primary-highlight-opacity: 1;
        --primary-highlight-inverse: var(--surface-0);
        --primary-highlight-hover-opacity: 0.8;
    }
    &.dark{
        --primary: var(--primary-50);
        --primary-inverse: var(--surface-950);
        --primary-hover: var(--primary-100);
        --primary-active-color: var(--primary-100);

        --primary-highlight-opacity: 0.1;
        --primary-highlight-inverse: var(--surface-0);
        --primary-highlight-hover-opacity: 0.2;

    }
}
